
#login {
  min-width: 1280px;
  min-height: 768px;
  width: 100%;
  height: 100%;
  background: url("../../images/login/login.jpg");
  -webkit-background-size: cover;
  background-size: cover;

  //登陆页面 start
  .login {
    width: 456px;
    height: 408px;
    margin: 190px auto 0;
    background: rgba(79, 87, 105, 0.8);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    .top {
      width: 100%;
      height: 68px;
      background: #4f5769;
      -webkit-box-shadow: 0 8px 15px 0px #454954;
      -moz-box-shadow: 0 8px 15px 0px #454954;
      box-shadow: 0 8px 15px 0px #454954;
      .logo {
        width: 122px;
        height: 68px;
        margin: 0 auto;
        background: url("../../images/login/logo_03.png");
        -webkit-background-size: cover;
        background-size: cover;
      }
    }
    .bottom {
      width: 362px;
      height: 292px;
      margin: 47px 0 0 47px;
      .user {
        width: 100%;
        height: 38px;
        border: 1px solid #999999;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        .userName {
          height: 38px;
          width: 320px;
          text-indent: 8px;
          font-size: 16px;
          color: #999999;
          background: transparent;
        }
        .userIcon {
          width: 34px;
          height: 36px;
          display: inline-block;
        }
      }
      .passWord {
        width: 100%;
        height: 38px;
        border: 1px solid #999999;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-top: 20px;
        .passWordIcon {
          width: 34px;
          height: 36px;
          display: inline-block;
        }
        .words {
          height: 38px;
          width: 320px;
          text-indent: 8px;
          font-size: 16px;
          color: #999999;
          background: transparent;
        }
      }
      .remember {
        width: 361px;
        height: 60px;
        line-height: 60px;
        font-size: 14px;
        color: #ffffff;
        input[type=checkbox] {
          background: #d8d8d8;
        }
        .forget {
          color: #fff;

        }
      }
      .loginBtn {
        width: 362px;
        height: 38px;
        background: #fc340e;
        margin-top: 12px;
        text-align: center;
        line-height: 38px;
        color: #fff;
        font-size: 16px;
      }
      .loginOpen {
        width: 100%;
        height: 52px;
        line-height: 52px;
        text-align: center;
        color: #fff;
        font-size: 14px;
        .toOpen {
          color: #fc340e;
        }
      }
    }
  }
  //登陆页面 end
  //change password start
  .changeWord {
    width: 100%;
    height: 100%;
    background: rgba(222, 222, 222, 0.87);
    .changeTop {
      width: 100%;
      height: 107px;
      background: #f6f6f6;
      border-bottom: 2px solid #ccc;
      .changeLogo {
        width: 209px;
        height: 109px;
        background: url("../../images/login/changeLogo_02.png");
        -webkit-background-size: cover;
        background-size: cover;
        margin-left: 56px;
      }
      p {
        width: 223px;
        height: 32px;
        line-height: 32px;
        font-size: 30px;
        color: #000;
        margin-top: 52px;
        font-weight:bold;
      }
    }
    .changeBottom {
      width: 230px;
      height: 182px;
      margin: 142px auto 0;
      input {
        width: 230px;
        height: 36px;
        border: 1px #ccc solid;
        font-size: 16px;
        color: #999999;
        text-indent: 20px;
      }
      .confirm {
        width: 230px;
        height: 36px;
        text-align: center;
        line-height: 36px;
        background: #f54337;
        font-size: 16px;
        color: #f2f2f3;
        margin-top: 50px;
      }
    }
  }
  //change password start
  // fill in information start
  .fillIn {
    width: 100%;
    height: 100%;
    background: rgba(222, 222, 222, 0.87);
    .fillTop {
      width: 100%;
      height: 107px;
      background: #f6f6f6;
      border-bottom: 2px solid #ccc;
      .changeLogo {
        width: 209px;
        height: 109px;
        background: url("../../images/login/changeLogo_02.png");
        -webkit-background-size: cover;
        background-size: cover;
        margin-left: 56px;
      }
      p {
        width: 223px;
        height: 32px;
        line-height: 32px;
        font-size: 30px;
        color: #000;
        margin-top: 52px;
        font-weight:bold;
      }
    }
    .traningLogo1{
      width: 84px;
      height: 84px;
      margin: 104px auto 0;
      position: relative;
      .traningLogo {
        width: 84px;
        height: 84px;
        background: url("../../images/login/traningLogo_03.png");
        -webkit-background-size: cover;
        background-size: cover;
      }
      .file{
        width: 84px;
        height:84px;
        overflow: hidden;
        position: absolute;
        left:0;
        top:0;
        z-index: 22;
        cursor: pointer;
        background: transparent;
        line-height:88px;
        text-align: center;
        input{
          opacity: 0;
          font-size:50px;
          position: absolute;
          right:0;
          top:0;
          width: 84px;
          height: 84px;
          cursor: pointer;
        }
      }
    }

    .fillBottom {
      width: 362px;
      //height:182px;
      margin: 62px auto 0;
      input {
        width: 360px;
        height: 36px;
        border: 1px #ccc solid;
        font-size: 16px;
        color: #999999;
        text-indent: 20px;
        margin-top: 20px;
      }
      input:first-child {
        margin-top: 0;
      }
      #textarea{
        width:360px;
        min-height:37px;
        border:1px #ccc solid;
        font-size:16px;
        color: #999;
        //text-indent: 20px;
        margin-top: 20px;
        background: #fff;
        position: relative;
        p{
          width:100%;
          outline: none;
          line-height: 20px;
          padding:8px 20px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          position: absolute;
          left:0;
          top:0;
          z-index: 2;
        }
        .pCover{
          position: absolute;
          left:0;
          top:0;
          width:360px;
          height:37px;
          font-size:16px;
          line-height:37px;
          text-indent: 20px;
          color: #999;
          display: inline-block;
          z-index: 1;
        }
      }
      .fillInConfirm {
        width: 362px;
        height: 36px;
        text-align: center;
        line-height: 36px;
        background: #f54337;
        font-size: 16px;
        color: #f2f2f3;
        margin-top: 50px;
      }
    }
  }
  // fill in information end
  //forget word start
  #forgetWord {
    width: 100%;
    height: 100%;
    background: rgba(222, 222, 222, 0.87);
    .forgetWordTop {
      width: 100%;
      height: 107px;
      background: #f6f6f6;
      border-bottom: 2px solid #ccc;
      .changeLogo {
        width: 209px;
        height: 109px;
        background: url("../../images/login/changeLogo_02.png");
        -webkit-background-size: cover;
        background-size: cover;
        margin-left: 56px;
      }
      p {
        //width:223px;
        height: 32px;
        line-height: 32px;
        font-size: 30px;
        color: #000;
        margin-top: 52px;
        font-weight:bold;
      }
    }
    .forgetWordBottom {
      width: 230px;
      height: 182px;
      margin: 142px auto 0;
      input {
        width: 230px;
        height: 36px;
        border: 1px #ccc solid;
        font-size: 16px;
        color: #999999;
        text-indent: 20px;
      }
      .imgCode {
        width: 230px;
        height: 72px;
        margin-top: 20px;
        .imgCodeTop {
          width: 100%;
          height: 36px;
          .short {
            width: 120px;
            float: left;
          }
          .imgCode1 {
            float: right;
            width: 94px;
            height: 34px;
            background: #ccc;
            border: 1px dashed #fff;
          }
        }
        .clickToRefresh {
          color: #999999;
          font-size: 13px;
          width: 99%;
          text-align: right;
          margin-top: 5px;
        }
      }
      .forgetWordConfirm {
        width: 230px;
        height: 36px;
        text-align: center;
        line-height: 36px;
        background: #f54337;
        font-size: 16px;
        color: #f2f2f3;
        margin-top: 20px;
      }
    }
  }
  //forget word end
  //message start
  .message {
    width: 100%;
    height: 100%;
    background: rgba(222, 222, 222, 0.87);
    .forgetWordTop {
      width: 100%;
      height: 107px;
      background: #f6f6f6;
      border-bottom: 2px solid #ccc;
      .changeLogo {
        width: 209px;
        height: 109px;
        background: url("../../images/login/changeLogo_02.png");
        -webkit-background-size: cover;
        background-size: cover;
        margin-left: 56px;
      }
      p {
        //width:223px;
        height: 32px;
        line-height: 32px;
        font-size: 30px;
        color: #000;
        margin-top: 52px;
        font-weight:bold;
      }
    }
    .messageContent {
      width: 265px;
      margin: 156px auto 0;
      .messageOne {
        width: 100%;
        color: #000;
        font-size: 20px;
        text-align: left;
        font-weight: bold;
      }
      .messageTwo {
        width: 100%;
        color: #000;
        font-size: 16px;
        font-weight: bold;
        margin-top: 20px;
      }
      .messageThree {
        width: 100%;
        color: #000;
        font-size: 16px;
        margin-top: 48px;
      }
      .messageInput {
        width: 100%;
        margin-top: 24px;
        .messageCode {
          width: 118px;
          height: 38px;
          border: 1px solid #ccc;
          font-size: 14px;
          color: #999999;
          text-align: center;
        }
        .getMessage {
          width: 98px;
          height: 38px;
          background: #ccc;
          line-height: 38px;
          text-align: center;
          font-size: 14px;
          color: #000;
          margin-left: 6px;
        }
      }
      .tip {
        width: 100%;
        margin-top: 20px;
        color: #999;
        text-align: left;
        font-size: 13px;
      }
      .messageConfirm {
        width: 226px;
        height: 36px;
        margin-top: 26px;
        line-height: 36px;
        text-align: center;
        font-size: 16px;
        background: #f54337;
        color: #f2f2f3;
        font-weight: bold;
      }
    }
  }

  .open {
    width: 100%;
    height: 100%;
    background: rgba(222, 222, 222, 0.87);
    position: relative;
    .forgetWordTop {
      width: 100%;
      height: 107px;
      background: #f6f6f6;
      border-bottom: 2px solid #ccc;
      .changeLogo {
        width: 209px;
        height: 109px;
        background: url("../../images/login/changeLogo_02.png");
        -webkit-background-size: cover;
        background-size: cover;
        margin-left: 56px;
      }
      p {
        //width:223px;
        height: 32px;
        line-height: 32px;
        font-size: 30px;
        color: #000;
        margin-top: 52px;
        font-weight:bold;
      }
    }
    .openInformation {
      width: 362px;
      margin: 120px auto 0;
      .openCommon {
        width: 100%;
        height: 38px;
        border: 1px solid #cccccc;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 16px;
        background: #fff;
        margin-bottom:20px;
        span{
          display: inline-block;
          width: 36px;
          height:36px;
          margin-right: 6px;
          float: left;
        }
        input{
          height:100%;
          background: transparent;
          width:310px;
          float: left;
          font-size:16px;
          color: #999999;
        }
        .openUserIcon{
          background: url("../../images/login/icon_admin.png") no-repeat;
        }
        .openWordIcon{
          background: url("../../images/login/icon_pd.png") no-repeat;
        }
        .openAgainIcon{
          background: url("../../images/login/icon_ps.png") no-repeat;
        }
        .openPhoneIcon{
          background: url("../../images/login/icon_phone.png") no-repeat;
        }
      }
      .rules{
        width:100%;
        font-size:12px;
        color: #000;
        a{
          font-size:12px;
          color: #000;
        }
        input[type=checkbox]{
          width:18px;
          height:18px;
          background: #d8d8d8;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          border-radius: 2px;
        }
      }
      .openBtn{
        width:362px;
        height:38px;
        line-height:38px;
        text-align: center;
        font-size: 16px;
        background: #f54337;
        color: #f2f2f3;
        font-weight: bold;
        margin-top:38px;
      }
    }
    .agreePopus{
      //display: none;
      width:300px;
      height:296px;
      background: #fff;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      position: absolute;
      left:50%;
      margin-left:-150px;
      top:208px;
      .agreePopusClose{
        position: absolute;
        right:0;
        top:0;
        width:36px;
        height:31px;
        background: url("../../images/login/loginClose_03.png");
        -webkit-background-size: cover;
        background-size: cover;
      }
      .agreePopusContent{
        width:228px;
        height:auto;
        margin:30px auto 0;
        .agreePopusTitle{
          width:100%;
          font-size: 18px;
          font-weight:bold;
          color: #000;
          text-align: left;
          margin-bottom:38px;
        }
        .agreePopusPhoneNumber{
          font-size:16px;
          color: #000;
          width:100%;
          margin-bottom:24px;
        }
        .agreePopusCode{
          width:100%;
          height:38px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          input{
            width:124px;
            height:38px;
            border:1px solid #ccc;
            font-size:14px;
            text-align: center;
            color: #999;
          }
          .agreePopusGetCode{
            width:98px;
            height:38px;
            background: #ccc;
            line-height: 38px;
            color: #fff;
            text-align: center;
            font-size:14px;
          }
        }
        .agreePopusTip{
          width:228px;
          color: #999;
          margin-top:20px;
          font-size:13px;
        }
        .agreePopusConfirm{
          width:100%;
          height:38px;
          line-height:38px;
          text-align: center;
          font-size: 16px;
          background: #f54337;
          color: #f2f2f3;
          font-weight: bold;
          margin-top:24px;
        }
      }
    }
  }
}
.agreePopusBg{
  width:100%;
  height:100%;
  position: absolute;
  left:0;
  top:0;
  z-index:2;
  display: none;
}
::-webkit-input-placeholder{
  color: #999;}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */  color:    #999;}
::-moz-placeholder { /* Mozilla Firefox 19+ */  color:    #999;}
:-ms-input-placeholder { /* Internet Explorer 10-11 */  color:    #999;}