p{
  margin-bottom: 0;
}
.member-list{
  .filter-line{
    width: 100%;
    height: 72px;
    padding: 19px 12px;
    box-sizing: border-box;
    background: #fff;
    .search-box{
      width: 456px;
      height: 34px;
      border: 1px solid #dddddd;
      padding-left: 34px;
      background: #fffffd;
      box-sizing: border-box;
      position: relative;
      margin-right: 116px;
      .icon-search{
        width: 20px;
        height: 20px;
        background: url("../../images/action/icon_search.png") no-repeat;
        background-size: 100%;
        position: absolute;
        top: 5px;
        left: 9px;
      }
      input{
        width: 324px;
        height: 100%;
        padding: 8px 0;
        box-sizing: border-box;
        line-height: 16px;
        color: #333;
        font-size: 14px;
      }
      .btn-search{
        width: 96px;
        height: 34px;
        background: #ccc;
        text-align: center;
        line-height: 34px;
        font-size: 16px;
        color: #fff;
        margin-top: -1px;
        cursor: pointer;
      }
    }
    .trains{
      width: 240px;
      height: auto;
      margin-right: 120px;
      .bootstrap-select:not([class*=span]):not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
        width: 100%;
        .btn{
          border-radius: 0;
        }
      }
    }
    .add-member{
      width: 96px;
      height: 34px;
      background: #ff350e;
      text-align: center;
      line-height: 34px;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
    }
    .add-member:hover{
      text-decoration: none;
    }
  }
  .list-box{
    border-top: 25px solid #eee;
    box-sizing: border-box;
    padding: 14px 36px;
    .list-filter{
      width: 100%;
      height: 36px;
      .cards{
        width: 120px;
        height: 24px;
        margin-top: 6px;
        border: 1px solid #ff350e;
        box-sizing: border-box;
        font-size: 14px;
        text-align: center;
        line-height: 22px;
        color: #ff350e;
        margin-right: 60px;
        li{
          width: 50%;
          cursor: pointer;
        }
        .current{
          background: #ff350e;
          color: #fff;
        }
      }
      .card-status{
        width: 540px;
        height: 36px;
        li{
          padding: 0 15px;
          height: 36px;
          margin-right: 20px;
          line-height: 36px;
          position: relative;
          color: #999999;
          font-size: 16px;
          cursor: pointer;
          span{
            width: 100%;
            height: 2px;
            background: #000;
            position: absolute;
            bottom: 0;
            left: 0;
            transform: scale(0);
            transition: 0.3s all ease;
          }
        }
        .active{
          color: #000;
          span{
            transform: scale(1);
          }
        }
      }
    }
    .list-block{
      width: 100%;
      height: auto;
      overflow-x: auto;
      .head-table{
        width: 2396px;
        height: 42px;
        line-height:42px;
        border-bottom: 1px solid #ccc;
        box-sizing: border-box;
        background: #f5f5f5;
        font-size: 14px;
        color: #000000;
        text-align: center;
      }
      .name{
        width: 148px;
        height: 100%;
        text-align: left;
        text-indent: 16px;
        cursor: pointer;
        .icheckbox_minimal-blue, .iradio_minimal-blue{
          margin-right: 24px;
        }
      }
      .sex-box,.card-kind{
        width: 72px;
        .bootstrap-select:not([class*=span]):not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
          width: 72px;
          .btn{
            border-radius: 0;
            padding: 3px 12px;
          }
        }
        .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*=span]{
          margin-bottom: 0;
        }
      }
      .birth,.phone{
        width: 126px;
      }
      .birth{
        position: relative;
        cursor: pointer;
        span{
          width: 20px;
          height: 20px;
          background: url("../../images/member/icon_arrow_up.png") no-repeat;
          background-size: 100%;
          position: absolute;
          top: 10px;
        }
      }
      .sort{
        span{
          background: url("../../images/member/icon_arrow_down.png") no-repeat;
          background-size: 100%;
        }
      }
      .mail{
        width: 260px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .run-card,.add-up-num,.order-class{
        width: 130px;
      }
      .renewal-card{
        width: 116px;
      }
      .expire,.latest-class{
        width: 120px;
      }
      .card-kind{
        width: 110px;
      }
      .card-type{
        width: 86px;
      }
      .count{
        width: 100px;
      }
      .status{
        width: 76px;
      }
      .rate{
        width: 186px;
      }
      .order-rate{
        width: 188px;
      }
      .attendance{
        width: 150px;
      }
      .data-list{
        width: 2396px;
        height: auto;
        li{
          width: 100%;
          height: 46px;
          line-height: 46px;
          border-bottom: 1px solid #ccc;
          box-sizing: border-box;
          text-align: center;
        }
      }
    }
    .operation{
      width: 350px;
      height: 34px;
      margin-top: 36px;
      p{
        width:96px;
        height: 100%;
        text-indent: 16px;
        line-height:34px;
        background: #000;
        color: #fff;
        font-size: 16px;
        position: relative;
        cursor: pointer;
        span{
          width: 20px;
          height: 20px;
          position: absolute;
          top: 7px;
          right: 18px;
        }
      }
      .extend{
        margin-right: 40px;
        span{
          background: url("../../images/member/icon_extend.png") no-repeat;
          background-size: 100%;
        }
      }
      .export{
        margin-right: 8px;
        span{
          background: url("../../images/member/icon_export.png") no-repeat;
          background-size: 100%;
        }
      }
      .import{
        span{
          background: url("../../images/member/icon_import.png") no-repeat;
          background-size: 100%;
        }
      }
    }
  }

  .extend-box{
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0);
    position: fixed;
    top:0;
    left:0;
    display: none;
    .extend-block{
      width: 360px;
      height: 240px;
      box-shadow: 0 0 10px #ccc;
      background: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -120px;
      margin-left: -180px;
      border-radius: 8px;
      .extend-block-title{
        width: 100%;
        height:50px;
        padding: 0 20px;
        box-sizing: border-box;
        line-height: 50px;
        font-size:16px;
        color: #333;
        border-bottom: 1px solid #dfdfdf;
      }
      .extend-block-content{
        width: 100%;
        height: 140px;
        padding: 20px;
        box-sizing: border-box;
        p{
          width:100%;
          height:30px;
          line-height:30px;
          font-size:14px;
          color: #333;
          margin-bottom: 10px;
        }
        .input{
          width:100%;
          height: auto;
          font-size: 14px;
          color: #333;
          input{
            width: 100px;
            height: 32px;
            line-height: 32px;
            font-size: 14px;
            color: #333;
            border: 1px solid #dfdfdf;
            box-sizing: border-box;
            margin-right: 10px;
          }

        }
      }
      .extend-block-bottom{
        width: 100%;
        height: 50px;
        padding: 0 20px;
        box-sizing: border-box;
        a{
          width: 88px;
          height: 36px;
          margin-left: 16px;
          font-size: 14px;
          border-radius: 6px;
          text-align: center;
          line-height:36px;
        }
        a:hover{
          text-decoration: none;
        }
        .cancel-btn{
          line-height:34px;
          border: 1px solid #dfdfdf;
          box-sizing: border-box;
          color: #666;
        }
        .sure-btn{
          background: #0088cc;
          color: #fff;
        }
      }
    }
  }
}