html,body{
  background: #000;
  width:100%;
  padding-bottom:40px;
}
.box{
  width:1440px;
  margin:52px auto 0;
  .wodLeft{
    width:204px;
    height:304px;
    background: #212121;
    margin-left:80px;
    .common{
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      margin-top:24px;
      margin-left:20px;
      width:167px;
      height:36px;
      background: #444;
      //border:1px solid #666;
      font-size:14px;
      color: #fff;
      outline:none;

    }
    .bootstrap-select:not([class*=span]):not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
      width:167px;
      height:34px;
      background: #444;
    }
    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*=span]{
      margin-bottom:0px;
    }
    .btn-default{
      background: #444;
      color: #fff;
      border:none;
    }
    input[type=date]{
      text-align: center !important;
    }
    p{
      font-size:14px;
      color: #666;
      text-indent: 20px;
      margin-top:4px !important;
    }
  }
  .wodRight{
    width:1096px;
    .time{
      font-size:24px;
      color: #fff;
      font-weight:bold;
      .timeLeft{
        display: inline-block;
        margin-right: 66px;
      }
      .timeRight{
        color: #fc340e;
      }
    }
    .content{
      width:100%;
      margin-top:20px;
      font-size:18px;
      .title{
        margin-top: 36px !important;
        margin-bottom: 0 !important;
        color: #fff;
        font-weight: normal !important;
        font-size:18px;
      }
      .subtitle{
        color: #fc340e;
        text-indent: 18px;
        font-weight: normal !important;
        font-size:18px;
        margin:6px 0 0 !important;
      }
      .record{
        color: #fff;
        font-weight: normal !important;
        text-indent: 18px;
        margin-top:2px;
        margin-bottom:0;
        font-size:18px;
      }
      .notes{
        color: #999;
        font-weight: normal !important;
        text-indent: 18px;
        margin-top:2px;
        margin-bottom:0;
        font-size:18px;
      }
    }
  }
}