.content-box {
  width: 1324px;
  min-height: 768px;
  margin: 0 auto;
}
.statistic-box {
  width: 100%;
  height: auto;
  padding: 0 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
.statistic-box .statistic-classify {
  width: 100%;
  height: auto;
  margin-bottom: 20px; }
.statistic-box .statistic-classify li {
  width: 72px;
  height: 40px;
  text-align: center;
  line-height: 38px;
  position: relative;
  font-size: 16px;
  color: #666;
  margin-right: 46px;
  cursor: pointer; }
.statistic-box .statistic-classify li span {
  width: 100%;
  height: 2px;
  background: #000000;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0); }
.statistic-box .statistic-classify .active {
  color: #000; }
.statistic-box .statistic-classify .active span {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }
.statistic-box .position-block{
  width: 100%;
  height: auto;
  margin-bottom: 12px;
}
.statistic-box .position-box {
  width: 220px;
  height: auto;
  margin-right: 20px;
  margin-bottom: 12px; }
.statistic-box .chart-box {
  width: 100%;
  height: auto; }
.statistic-box .chart-box .filter-box {
  width: 400px;
  height: auto;
  margin: 0 auto;
  text-align: center; }
.statistic-box .chart-box .filter-box ul {
  width: 100%;
  height: 36px;
  border-top: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }
.statistic-box .chart-box .filter-box ul li {
  width: 100px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  float: left;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  color: #666;
  cursor: pointer; }
.statistic-box .chart-box .filter-box ul .active {
  background: #0088cc;
  color: #ffffff; }
.statistic-box .chart-box .filter-box .date-box {
  height: auto;
  display: inline-block; }
.statistic-box .chart-box .filter-box .date-box span {
  margin-top: 7px;
  cursor: pointer; }
.statistic-box .chart-box .filter-box .date-box p {
  width: 215px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  font-size: 16px;
  color: #666; }
.statistic-box .chart-box .filter-box .custom-date {
  width: 320px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  margin: 0 auto;
  display: none; }
.statistic-box .chart-box .filter-box .custom-date input {
  width: 150px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  font-size: 16px;
  color: #666; }
.statistic-box .chart-box .chart {
  width: 100%;
  height: auto; }
.statistic-box .chart-box .chart #container {
  width: 1000px;
  height: 400px;
  margin: 0 auto; }

/*# sourceMappingURL=member-statistic.css.map */
